.order-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    // height: 100vh;
    flex-direction: column;
   background-color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;

    .title {
        display: flex;
        // align-items: center;
        justify-content: center;
        width: 100vw;
        height: 15vh;
        // background-color: gray;
        margin-top: 80px;
        flex-direction: column;
        gap: 5px;

        P {
            font-size: 30px;
            font-weight: bold;
            color: rgb(0, 0, 0);
            padding-left: 38px;
            // margin-left: 20px;
            // margin-top: 130px;
        }
    hr{
        margin-left: 38px;
    }

    }

    .body {
        display: flex;
        align-items: center;
        // justify-content: center;
        width: 100vw;
        height: 75vh;
        // background-color: rgb(221, 221, 221);
        flex-direction: column;

        .table-heder,
        .table-body {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: white;
            font-size: 20px;
            width: 95vw;
            // height: 60px;

            .id,
            .image,
            .item-name,
            .qty,
            .price,
            .cous-name,
            .address,
            .contactNo,
            .see-more {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                width: 150px;
                height: 70px;
                // background-color: rgb(237, 237, 237);
                // margin: 2px;
                border-left: 0.5px solid rgba(71, 71, 71, 0.7);

            }

            .detail-card {
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: rgb(0, 0, 0);
                font-size: 20px;
                width: 95vw;
                border: 0.5px solid rgba(53, 52, 52, 0.619);

                .id,
                .image,
                .item-name,
                .qty,
                .price,
                .see-more {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 150px;
                    height: 70px;
                    // background-color: rgb(237, 237, 237);
                    // margin: 2px;
                    border-left: 0.5px solid rgba(122, 117, 117, 0.914);

                    .toggle-switch {
                        position: relative;
                        display: inline-block;
                        width: 50px;
                        height: 24px;
                    }

                    .toggle-switch input {
                        opacity: 0;
                        width: 0;
                        height: 0;
                    }

                    .slider {
                        position: absolute;
                        cursor: pointer;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: #ccc;
                        transition: 0.4s;
                        border-radius: 24px;
                    }

                    .slider:before {
                        position: absolute;
                        content: "";
                        height: 18px;
                        width: 18px;
                        left: 3px;
                        bottom: 3px;
                        background-color: white;
                        transition: 0.4s;
                        border-radius: 50%;
                    }

                    input:checked+.slider {
                        background-color: #165506;
                    }

                    input:checked+.slider:before {
                        transform: translateX(26px);
                    }


                }
            }



        }


    }
}